# Generic ignores
*.log
*.db
*.pyc
._*
__pycache__

# Directory (contents) ignores
.pio
.storage
deps

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Specific file ignores
.HA_VERSION
ip_bans.yaml
known_devices.yaml
secrets.yaml
.google_maps_location_sharing*

# ESPHome ignores
esphome/secrets.yaml
esphome/**/

# Custom component I don't want to track here
include/PM_Secrets.h

# OS files

# Virtual environement
